{% extends 'base.html.twig' %}


{% block body %}
<ul>
    {% for task in tasks %}
        <li>
            <div>
                <a href="{{ path('app_task_view', { id: task.id }) }}">{{ task.name }}</a>
                <a href="#" class="btn btn-primary">Update</a>
                <a href="{{ path('app_task_delete',{id: task.id})}}" class="btn btn-primary">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}